@keyframes morphword {
	0% {
		letter-spacing: -0.8rem;
		filter: blur(10em) contrast(0.5);
	}

	100% {
		letter-spacing: 0rem;
		filter: blur(0em) contrast(0);
	}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

.svg-main {
	background-color: #273c75;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: rgb(44, 91, 217);
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: auto;
	max-width: 1000px;
	padding: 50px;
}

text, circle {
	/* transition: x 1s; */
	/* transition: y 1s; */
	transition: transform 1.5s;
}

path {
	/* transition: stroke-dashoffset 1s; */
	/* transition: d 1.5s; */
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

text {
	font-family: Arial, sans-serif;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.svg-container-container {
	background: linear-gradient(
		to bottom,
		blue,
		red;
	);
	/* animation: morphword 2s; */
}

/* .header-svg text {
	animation: morphword 2s;
} */

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
